.read-main{
    min-height: 100vh;
    width: 100%;
    
    padding: 1% 0;
    h3{
        text-align: center;
    }
    .read-table{
        table{
            
            width: 100%;
            
            border-collapse: collapse;
            text-align: center;
            tr{
                width: 30%;
                td{
                    padding: 20px;
                }
                th{
                    width: 30vw;
                    white-space: nowrap;
                    padding: 20px;
                    font-size: 1.08em;
                    margin:2%;
                    
                    // border: 1px solid #cecece;
                }
            } 
        }
    }
}