.menu-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        padding: 2%;

        .LINK{
            text-decoration: none;
            cursor: pointer;
            white-space: nowrap;
            margin-right: 20px;
            opacity: .8;

            &:hover{
                opacity: 1;
                
            }
        }
    }
}


@media only screen and (max-width: 800px) {
    .menu-main{
        div{
            .LINK{
                margin-right: 10px;
                margin-left: 5px;
            }
        }
    }    
}