.menu-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    div{
        padding: 2%;

        a{
            text-decoration: none;
            cursor: pointer;
            white-space: nowrap;
            margin-right: 20px;
            opacity: .8;
            font-weight: bold;
            &:hover{
                opacity: 1;
                
            }
        }
    }
}